In [11]:
import requests
key = "9v52q9wOJhLZgyTmnBcrP95lvxvkU3J7SlmmqBsE"
resp = requests.get(f"https://api.nasa.gov/neo/rest/v1/neo/browse?api_key={key}")
print(resp.status_code, resp.json().get('near_earth_objects')[0]['name'])
!pip install xlsxwriter

200 433 Eros (A898 PA)
Collecting xlsxwriter
  Downloading XlsxWriter-3.2.3-py3-none-any.whl.metadata (2.7 kB)
Downloading XlsxWriter-3.2.3-py3-none-any.whl (169 kB)
   ---------------------------------------- 0.0/169.4 kB ? eta -:--:--
   ------- ------------------------------- 30.7/169.4 kB 660.6 kB/s eta 0:00:01
   ---------------------------------------- 169.4/169.4 kB 2.5 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.2.3

In [12]:
import requests
import pandas as pd
from datetime import date, timedelta

# Use yesterday to guarantee the feed exists
api_key  = "N6AkEKVTMMcRUvlzKdUvWRbgcenjZihLrBgdZxeo"
yesterday = (date.today() - timedelta(days=1)).isoformat()

# Fetch yesterdayâ€™s NEO feed
url  = (
  f"https://api.nasa.gov/neo/rest/v1/feed"
  f"?start_date={yesterday}&end_date={yesterday}"
  f"&api_key={api_key}"
)
resp = requests.get(url)
data = resp.json()

# Confirm we got the right keys
print("Top-level keys:", data.keys())  # should include 'near_earth_objects'

# Build the DataFrame
neos = []
for obj in data['near_earth_objects'][yesterday]:
    approach = obj['close_approach_data'][0]
    neos.append({
        'Name': obj['name'],
        'Close Approach Date': approach['close_approach_date'],
        'Diameter (min, m)': obj['estimated_diameter']['meters']['estimated_diameter_min'],
        'Diameter (max, m)': obj['estimated_diameter']['meters']['estimated_diameter_max'],
        'Hazardous': obj['is_potentially_hazardous_asteroid'],
        'Miss Distance (km)': float(approach['miss_distance']['kilometers']),
        'Velocity (km/hr)': float(approach['relative_velocity']['kilometers_per_hour']),
    })

df_neos = pd.DataFrame(neos)
print(f"Loaded {len(df_neos)} NEOs, {df_neos['Hazardous'].sum()} hazardous.\n")

# (Then append your Excel-export code below...)

Top-level keys: dict_keys(['links', 'element_count', 'near_earth_objects'])
Loaded 13 NEOs, 3 hazardous.

In [13]:
from pandas import ExcelWriter

output_file = "neo_report.xlsx"
# â€¦ build df_summary & df_neos â€¦

with ExcelWriter(output_file, engine='xlsxwriter') as writer:
    df_summary.to_excel(writer, sheet_name='Summary', index=False)
    df_neos.to_excel(writer, sheet_name='NEO_Data', index=False)
    workbook  = writer.book
    worksheet = writer.sheets['NEO_Data']
    red_format = workbook.add_format({'font_color':'red'})
    worksheet.conditional_format(f'E2:E{len(df_neos)+1}', {
        'type':'cell','criteria':'==','value':True,'format':red_format
    })

print(f"âœ… Excel report saved as: {output_file}")

âœ… Excel report saved as: neo_report.xlsx

# ðŸš€ Near-Earth Object Watcher

This project connects to NASAâ€™s Near-Earth Object (NEO) API, pulls the latest asteroid approach data, and creates a professional Excel report showing size, velocity, distance, and hazard status for each object.

---

## ðŸ“¥ Step 1: Fetch NASA Data
We use Pythonâ€™s `requests` module to call the `/feed` endpoint, using yesterdayâ€™s date to ensure data availability.

## ðŸ§¹ Step 2: Data Extraction
We parse the JSON, extract relevant fields (name, diameter, distance, velocity, hazard flag), and organize them in a Pandas DataFrame.

## ðŸ“Š Step 3: Excel Report Generation
We output the data into a multi-sheet Excel file (`neo_report.xlsx`) using `xlsxwriter`, including:
- A summary sheet
- Conditional formatting (red text for hazardous NEOs)

## âœ… Key Results

In [14]:
df_neos.head()

,Name,Close Approach Date,"Diameter (min, m)","Diameter (max, m)",Hazardous,Miss Distance (km),Velocity (km/hr)
0,136818 Selqet (1997 MW1),2025-05-25,425.162524,950.692305,False,6.893113e+07,84773.837700
1,390725 (2003 HB),2025-05-25,306.587876,685.551332,True,7.028366e+06,48479.156777
2,434633 (2005 WB1),2025-05-25,196.134944,438.571068,True,8.709360e+06,58620.489107
3,(2005 TC51),2025-05-25,9.216265,20.608196,False,3.890220e+07,59527.568438
4,(2014 KF22),2025-05-25,13.949382,31.191767,False,3.475910e+06,41385.943336